@model IEnumerable<AritMat.MVC.Models.Exercicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dificuldade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoEx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrador1.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo1.Area)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dificuldade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoEx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrador1.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo1.Area)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdExercicio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdExercicio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdExercicio })
        </td>
    </tr>
}

</table>
