@using System.Web.UI.WebControls
@using AritMat.MVC.DataAccess
@using AritMat.MVC.Models
@using AritMat.MVC.Models.ViewModels
@model AritMat.MVC.Models.Exercicio

@if (Session["User"] == null || ViewBag.LicaoAtual == null)
{
    <script type="text/javascript">
        window.location = "@Url.Action("Login", "Home")";
    </script>
}

@{
    AlunoViewModel al = ((AlunoViewModel)(Session["User"]));
    
    List<Licao> licoesAdd = ViewBag.LicoesAdd as List<Licao>;
    List<Licao> licoesSub = ViewBag.LicoesSub as List<Licao>;

    LicoesViewModel lvm = ViewBag.LicaoAtual as LicoesViewModel;

    List<Dica> dicasEx = ViewBag.Dicas as List<Dica>;

    ViewBag.Title = "Resolver Exercício";
    
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arit-Mat - @ViewBag.Title</title>


    <link rel="stylesheet" href="~/Content/jquery.rondell.css" type="text/css" media="all" title="Screen" />
    <!-- Bootstrap Core CSS -->
    <link href="../../Scripts/AlunoTheme/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../Scripts/AlunoTheme/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../Scripts/AlunoTheme/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../../Scripts/AlunoTheme/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../Scripts/AlunoTheme/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Content/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="~/Images/logo.png" alt="Techro HTML5 template">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li class="c1">@Html.ActionLink("Início", "Index", "Home")</li>
                    <li class="c2">@Html.ActionLink("Sobre", "About", "Home") </li>
                    @if (al != null)
                    {
                        <li class="c3">@Html.ActionLink("Editar perfil", "Edit", "Aluno", new {id = al.IdAluno})</li>
                    }
                    <li class="c4">@Html.ActionLink("Sair", "Logout", "Home") </li>

                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div id="wrapper">

        <!-- Navigation -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <h1 class="page-header">
                            @if (al != null)
                                        {
                                @al.Username
                                        }
                    </h1>

                    <!-- /input-group -->
                </li>
                <li>
                    <a href="@Url.Action("Index", "Alunos")"><i class="fa fa-dashboard fa-fw"></i>&nbsp;&nbsp;O teu painel</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-edit fa-fw"></i>&nbsp;&nbsp;Lições<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adição<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                @if (licoesAdd != null)
                            {
                                int i = 1;
                                foreach (var l in licoesAdd)
                                {
                                    <li>
                                        <a href="#"><span class="fa fa-angle-right"></span>&nbsp;&nbsp;Lição @i</a>
                                    </li>
                                    i++;
                                }
                            }
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-minus-circle"></span>&nbsp;&nbsp;Subtração<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                @if (licoesSub != null)
                            {
                                int i = 1;
                                foreach (var l in licoesSub)
                                {
                                    <li>
                                        <a href="#"><span class="fa fa-angle-right"></span>&nbsp;&nbsp;Lição @i</a>
                                    </li>
                                    i++;
                                }
                            }
                            </ul>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-files-o fa-fw"></i>&nbsp;&nbsp;Testes<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("Adicao", "Teste")"><span class="fa fa-plus-circle"></span>&nbsp;&nbsp;Adição</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Adicao", "Teste")"><span class="fa fa-minus-circle"></span>&nbsp;&nbsp;Subtração</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Exercício</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-default" id="exercicio">
                        <div class='panel-heading'>
                            <i class='fa fa-edit fa-fw'></i>Exercício
                        </div>
                        <!-- /.panel-heading -->

                        <div class='panel-body container'>
                            <!--<div class='form-group btn-group' data-toggle='buttons'>-->
                            @{
                        if (Model.Imagem == null)
                        {
                            <label>@Model.Texto</label>
                                <br />
                        }
                        else
                        {
                            <img class='img-responsive' src='@Url.Content("~/Images/Exercicios/E" + Model.IdExercicio + ".png")' alt='Exercício @Model.IdExercicio'>
                        }

                            }
                            <br /><br />

                            <form role='form' id='respForm'>
                                <div style='margin: 0 auto;'>
                                    @{
                                        int j = 0;
                                        foreach (var r in Model.Respostas)
                                        {
                                            <label class='radio-inline'>
                                                <input type='radio' name='optradio' id='@r.IdResposta' value='@r.IdResposta' />
                                                @r.Texto
                                            </label>
                                            j++;
                                        }
                                    }
                                </div>
                                <br />
                                <div class='form-group center-block'>
                                    <input type='submit' class='btn-two btn' value='OK' />&nbsp;&nbsp;&nbsp;
                                    <input type='button' class='btn-two btn' onclick='ajudaExercicio()' value='Preciso de ajuda!' />&nbsp;&nbsp;&nbsp;
                                </div>
                            </form>
                            <br /><br />
                            <!-- </div>-->





                        </div>
                    </div>
                </div>
                <!--
                -->
                <div class="col-sm-4">
                    <h3>Dicas</h3>
                    <div id="rondellPages">
                        @{
                    foreach (var d in dicasEx)
                    {
                        <div>
                            @{
                        if (d.Imagem != null)
                        {
                            <img src="@Url.Content("~/Images/Dicas/" + d.IdDica + ".png")" />
                        }
                        else
                        {
                            <p class="text-muted text-center">@d.Texto</p>
                        }
                            }
                        </div>
                    }
                        }
                    </div>
                </div>

            </div>



        </div>

        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-circle info" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalHeader"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="btnOK" type="button" class="btn btn-default info" data-dismiss="modal">OK</button>
                        <button id="btnRefuse" type="button" class="btn btn-default danger" onclick="window.location = '@Url.Action("Index","Alunos")'" data-dismiss="modal">Não!</button>
                    </div>
                </div>

            </div>
        </div>
</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="../../Scripts/AlunoTheme/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../Scripts/AlunoTheme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../../Scripts/AlunoTheme/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../../Scripts/AlunoTheme/dist/js/sb-admin-2.js"></script>

<script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.rondell.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.countdown.min.js"></script>
<!--<script type="text/javascript" src="~/Scripts/jquery.countdown.js"></script>-->
 
<script>
    var modalHeader;
    var modalText;
    var modal;
    var btnOk;
    var btnRefuse;

    jQuery(document).ready(function() {
        modalHeader = document.getElementById("modalHeader");
        modalHeader.innerHTML = "";
        modalText = document.getElementById("modalText");
        modalText.innerHTML = "";
        modal = document.getElementById("myModal");
        btnOk = document.getElementById("btnOK");
        btnRefuse = document.getElementById("btnRefuse");
    });

    function ajudaExercicio() {
        $("#rondellPages").fadeIn();
    }

    $("#rondellPages").rondell({
        preset: "pages"
    });
    jQuery("#rondellPages").hide();

    function mostraNovoExercicio() {

    }

    //$("#btnOK").hide();
    //$("#btnProxLicao").hide();
    //$("#btnRefuse").hide();
    //$("#myModal").hide();

    $("#respForm").submit(function(event) {

        event.preventDefault();
        $.post("@Url.Action("AnalisaResposta")", { licao: @lvm.IdLicao, expl: @lvm.NumExpl, aluno: @al.IdAluno, ex: @Model.IdExercicio, r: $('input:radio[name=optradio]:checked').val() },
            function(data) {
                var json = JSON.parse(data);
                btnOk.style.visibility = 'visible';
                btnRefuse.style.visibility = 'visible';
                switch(json.OQueFazer) {
                    case @LicaoDAO.APRENDEU_TODAS:
                        modalHeader.setAttribute("class", "text-success");
                        modalHeader.innerHTML = "Parabéns! Acertaste a resposta!";
                        modalText.innerHTML = "Já aprendeste todas as lições que tínhamos para ti!";
                        btnOk.setAttribute("onClick", "window.location = '@Url.Action("Index","Alunos")'");
                        btnRefuse.style.visibility = 'hidden';
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.EXER_MAIS_DIFICIL:
                    case @LicaoDAO.EXER_RANDOM:
                        alert("NextExer: " + json.NextExercicio);
                        modalHeader.setAttribute("class", "text-success");
                        modalHeader.innerHTML = "Parabéns! Acertaste a resposta!";
                        modalText.innerHTML = "Vamos a mais um exercício?";
                        btnOk.setAttribute("onClick", "window.location = '/Exercicios/Resolver/" + json.NextExercicio + "'");
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.EXER_MAX_DIF:
                        modalHeader.setAttribute("class", "text-success");
                        modalHeader.innerHTML = "Parabéns! Acertaste a resposta!";
                        modalText.innerHTML = "Vamos a um exercício muito difícil para avançares para a próxima lição?";
                        btnOk.setAttribute("onClick", "window.location = '/Exercicios/Resolver/" + json.NextExercicio + "'");
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.LICAO_ANTERIOR:
                        modalHeader.setAttribute("class", "text-danger");
                        modalHeader.innerHTML = "Oh não, falhaste a resposta :(";
                        modalText.innerHTML = "Talvez seja melhor reveres a lição anterior, ok?";
                        btnOk.setAttribute("onClick", "window.location = '/Licoes/VerLicao/" + json.NextLesson + "?exp=" + json.NextExpl + "'");
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.PROX_EXER:
                        modalHeader.setAttribute("class", "text-danger");
                        modalHeader.innerHTML = "Oh não, falhaste a resposta :(";
                        modalText.innerHTML = "Vamos tentar outra vez?";
                        btnOk.setAttribute("onClick", "window.location = '/Exercicios/Resolver/" + json.NextExercicio + "'");
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.PROX_EXPLICACAO:
                        modalHeader.setAttribute("class", "text-danger");
                        modalHeader.innerHTML = "Oh não, falhaste a resposta :(";
                        modalText.innerHTML = "Se calhar é melhor veres outra explicação sobre esta lição...<br>Que dizes?";
                        btnOk.setAttribute("onClick", "window.location = '/Licoes/VerLicao/" + json.NextLesson + "?exp=" + json.NextExpl + "'");
                        $("#myModal").modal('show');
                        break;
                    case @LicaoDAO.PROX_LICAO:
                        modalHeader.setAttribute("class", "text-success");
                        modalHeader.innerHTML = "Parabéns! Acertaste a resposta!";
                        modalText.innerHTML = "Estás pronto para a próxima lição!<br>Vamos?";
                        btnOk.setAttribute("onClick", "window.location = '/Licoes/VerLicao/" + json.NextLesson + "?exp=" + json.NextExpl + "'");
                        $("#myModal").modal('show');
                        break;
                    default:
                        break;
                }
            });

    });

</script>
</body>

</html>
